// "savePath": "./"

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid hsl(0, 0%, 78%);
  border-radius: 5px;
  background-color: #fff;
}

.color-picker {
  background-color: hsl(180, 50%, 50%);
  top: 40px;
  left: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(9, 45px);
  grid-template-rows: 45px;
  width: auto;
  height: 45px;
  gap: 10px;
  * {
    display: block;
    width: 45px;
    height: 45px;
    border: 1px solid hsl(0, 0%, 78%);
    border-radius: 5px;
  }
}

.range-wrapper {
  display: grid;
  grid-template-columns: 300px 30px;
  grid-template-rows: 30px;
  column-gap: 10px;
  padding: 15px;
  background-color: hsl(180, 50%, 50%);
  input {
    order: 3;
  }
  label {
    order: 1;
  }
  span {
    order: 2;
    font-size: 20px;
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
  button {
    width: 100px;
    padding: 5px;
    border: 1px solid hsl(0, 100, 100, 0.8);
    border-radius: 3px;
    background-color: hsl(0, 100, 100, 0.5);
    color: hsl(202, 22%, 10%);
    box-shadow: 0px 0px 6px 4px rgba(20, 27, 31, 0.06);
  }
}

.create-pallette {
  bottom: 40px;
  right: 40px;
  padding: 15px 20px 15px 20px;
  background-color: hsl(200, 20%, 10%);
  color: hsl(200, 30%, 90%);
  input {
    margin-bottom: 15px;
    border: 1px solid hsl(200, 30%, 90%);
    border-radius: 3px;
    background-color: hsl(200, 20%, 10%);
    color: hsl(200, 30%, 90%);
  }
}

.row {
  display: grid;
  grid-template-columns: 130px 30px 40px 30px 40px 30px 40px;
  label {
    text-align: right;
    padding-right: 5px;
  }
}

#green {
  &_9 {
    background-color: hsl(120, 42%, 20%);
  }
  &_8 {
    background-color: hsl(120, 41%, 27%);
  }
  &_7 {
    background-color: hsl(120, 41%, 35%);
  }
  &_6 {
    background-color: hsl(120, 40%, 42%);
  }
  &_5 {
    background-color: hsl(120, 40%, 50%);
  }
  &_4 {
    background-color: hsl(120, 40%, 60%);
  }
  &_3 {
    background-color: hsl(120, 40%, 70%);
  }
  &_2 {
    background-color: hsl(120, 40%, 80%);
  }
  &_1 {
    background-color: hsl(120, 40%, 90%);
  }
}

#orange {
  &_9 {
    background-color: hsl(20, 62%, 10%);
  }
  &_8 {
    background-color: hsl(25, 66%, 18%);
  }
  &_7 {
    background-color: hsl(30, 71%, 26%);
  }
  &_6 {
    background-color: hsl(35, 75%, 38%);
  }
  &_5 {
    background-color: hsl(40, 80%, 50%);
  }
  &_4 {
    background-color: hsl(42, 85%, 61%);
  }
  &_3 {
    background-color: hsl(45, 90%, 73%);
  }
  &_2 {
    background-color: hsl(48, 95%, 79%);
  }
  &_1 {
    background-color: hsl(50, 100%, 95%);
  }
}

#pink {
  &_9 {
    background-color: hsl(342, 70%, 28%);
  }
  &_8 {
    background-color: hsl(342, 65%, 34%);
  }
  &_7 {
    background-color: hsl(342, 60%, 39%);
  }
  &_6 {
    background-color: hsl(342, 55%, 45%);
  }
  &_5 {
    background-color: hsl(342, 50%, 50%);
  }
  &_4 {
    background-color: hsl(342, 55%, 62%);
  }
  &_3 {
    background-color: hsl(342, 60%, 73%);
  }
  &_2 {
    background-color: hsl(342, 65%, 84%);
  }
  &_1 {
    background-color: hsl(342, 70%, 95%);
  }
}

#blue {
  &_9 {
    background-color: hsl(231, 77%, 17%);
  }
  &_8 {
    background-color: hsl(228, 83%, 28%);
  }
  &_7 {
    background-color: hsl(224, 89%, 39%);
  }
  &_6 {
    background-color: hsl(221, 95%, 50%);
  }
  &_5 {
    background-color: hsl(217, 100%, 60%);
  }
  &_4 {
    background-color: hsl(215, 99%, 69%);
  }
  &_3 {
    background-color: hsl(213, 98%, 78%);
  }
  &_2 {
    background-color: hsl(211, 97%, 87%);
  }
  &_1 {
    background-color: hsl(208, 95%, 95%);
  }
}
